@import "./base.css";

body {
    background: var(--background-dark);
    color: var(--text-white);
    font-family: MonoLisa, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-white);
}

a {
    color: var(--text-white);
}

a:hover {
    color: var(--text-white-highlight);
}

/* Basic Button */
button {
    cursor: pointer;
    display: inline-block;
    background-color: var(--button-background);
    color: var(--button-text);
    border: 1px solid var(--button-background-border);
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    font-family: MonoLisa, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--button-background-hover);
}

.small-button {
    padding: 5px 10px;
    font-size: 16px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container .borderless-container {
    border: none;
    box-shadow: none;
}

.column-container {
    flex-direction: column;
}

.grid-container {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    gap: 10px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.notification {
    position: fixed;
    width: 280px;
    padding: 10px;
    bottom: 0;
    left: calc(50% - 150px);
    text-align: center;
    background-color: #333;
    color: white;
    z-index: 1000;
    font-size: 1.5em;
    animation: fade 3s;
}

.no-drag {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* Scrollbar, invisible */
::-webkit-scrollbar {
    display: none;
}

.fw-hr {
    width: 100%;
}

.tooltip {
    position: relative;
    display: inline-block;
    text-align: center;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: transparent;
    border: var(--border-color) solid 1px;
    color: var(--text-white);
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    font-size: small;
    font-weight: bold;

    /* Positioning */
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%,-50%);
    
    z-index: 1;
    transition: background-color 0.3s ease;
    
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    background-color: var(--background-soft-dark);
}

.n-h3 {
    width: 100%;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}